@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #e6dace;
  --secondary: #f4ece6;
  --blue: #0050ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #e6dace;
    --secondary: #f4ece6;
    --blue: #0050ff;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.m-0-auto {
  margin: 0 auto;
}

.home {
  min-height: calc(100vh - 160px);
}

.home-section {
  min-height: calc(100vh - 160px);
}